<!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Merriweather|Noto+Sans|Raleway|Indie+Flower|Lobster|Cinzel|Source+Sans+Pro|" rel="stylesheet">
            <meta charset=utf-8>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystylesheet.css') }}">
            <title>rain forecast blog </title>
        </head>

        <header>
            <img src="{{ url_for('static', filename='navbar_icon.png') }}" alt="logo" class="logo">
               <nav>
                   <ul>
                       <li><a href="{{ url_for('home') }}"> Home </a></li>
                       <li><a href="{{ url_for('sigup') }}"> Sign Up </a></li>
                       <li><a href="{{ url_for('post') }}"> Post </a></li>
                   </ul>
               </nav>
            <div class="searchBox">
                <form method="POST" action="search">
                    <input class="searchTxt" type="search" name="search_term" placeholder=" Type to search">
                    <button class="searchBtn" type="submit">
                        <img src="{{ url_for('static', filename='search.jpg') }}" alt="searchLogo" class="searchLogo">
                    </button>
                </form>
            </div>

        </header>

        <body>
        <div class="container">
            <div class="content">
            <h1>Rain Blog</h1>
            <div class="date">
                <p>2/2/2020</p>
            </div>
            <div class="mainContent">
            <h3>Abstract</h3>
            <div class="paragraph">
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            </div>
            </div>
            </div>
        </div>
        </body>
    </html>